body{
    background: red;
}

.name{
color: blue;
margin-right: 50px;
font-size: 21px;
margin-bottom: 1rem;
}

.desc{
    margin-top: 1rem;
    font-size: 21px;
    color: royalblue;
}

.list{
    margin-top: 1rem;
}